:root {
  --cor-fundo: rgb(57, 62, 70);
  --cor-hover: rgb(118, 180, 145);
  --cor-primaria: rgb(231, 241, 236);
}

body {
  max-width: 100%;
  font-family: "Times New Roman", Times, serif;
}

header {
  text-align: center;
  background-color: var(--cor-fundo);
}

.menu ul {
  list-style-type: none;
  padding: 0;
  text-align: center;
  background-color: var(--cor-fundo);
}

.menu ul li {
  display: inline;
  position: relative;
}

.menu ul li a {
  color: var(--cor-primaria);
  text-decoration: none;
  display: inline-block;
  padding: 10px;
  transition: background 0.3s;
}

.menu ul li a:hover {
  background-color: var(--cor-hover);
  transition: background 0.8s ease;
}
.submenu ul li ul li {
  position: relative;
}

.submenu,
.subsubmenu,
.subsubmenu2 {
  display: none;
  left: 0;
  top: 100%;
  position: absolute;
  width: 117px;
  margin-top: 10px;
  text-align: center;
}

.subsubmenu {
  margin-left: -17px;
}
.subsubmenu2 {
  margin-left: -14px;
}

.menu li:hover .submenu,
.menu .submenu li:hover .subsubmenu,
.menu .submenu li:hover .subsubmenu2 {
  display: inline-block;
  position: relative;
}
